



<table class="CSSTableGenerator">
    <tr>
		<td>{{phone1.name}}</td>
		<td>{{phone2.name}}</td>
    </tr>
	<td id="your_div_id">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone1.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>	
    <dl>
      <dt>Type</dt>
      <dd>{{phone1.battery.type | available}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone1.battery.talkTime | available}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone1.battery.standbyTime | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone1.storage.ram | available}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone1.storage.flash | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone1.connectivity.cell | available}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone1.connectivity.wifi | available}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone1.connectivity.bluetooth | available}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone1.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone1.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone1.android.os | available}}</dd>
      <dt>UI</dt>
      <dd>{{phone1.android.ui | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone1.sizeAndWeight.weight | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone1.display.screenSize | available}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone1.display.screenResolution | available}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone1.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone1.hardware.cpu | available}}</dd>
      <dt>USB</dt>
      <dd>{{phone1.hardware.usb | available}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone1.hardware.audioJack | available}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone1.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone1.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone1.camera.primary | available}}</dd>
      <dt>Features</dt>
      <dd>{{phone1.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone1.additionalFeatures | available}}</dd>
  </li>
</td>



<td id="your_div_id">    
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone1.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone2.battery.type | available}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone2.battery.talkTime | available}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone2.battery.standbyTime | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone2.storage.ram | available}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone2.storage.flash | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone2.connectivity.cell | available}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone2.connectivity.wifi | available}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone2.connectivity.bluetooth | available}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone2.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone2.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone2.android.os | available}}</dd>
      <dt>UI</dt>
      <dd>{{phone2.android.ui | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone2.sizeAndWeight.weight | available}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone2.display.screenSize | available}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone2.display.screenResolution | available}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone2.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone2.hardware.cpu | available}}</dd>
      <dt>USB</dt>
      <dd>{{phone2.hardware.usb | available}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone2.hardware.audioJack | available}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone2.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone2.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone2.camera.primary | available}}</dd>
      <dt>Features</dt>
      <dd>{{phone2.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone2.additionalFeatures | available}}</dd>
  </li>
</td>

<style>

#your_div_id {
  width: 855px;
  margin:0 auto;
  text-align: center;
}


.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
</style>
