
<body>
		<div>
			<select id="phone1">
				<option  ng-repeat="phone in phones" value="{{phone.id}}"> {{phone.name}} </option>
			</select>
			<select id="phone2">
				<option  ng-repeat="phone in phones" value="{{phone.id}}"> {{phone.name}} </option>
			</select>
		</div>
</html>		
<script>

function getValue(){
	 var x = document.getElementById("phone1");
	 var y = document.getElementById("phone2");
	 //alert(x.value);
	 //alert(y.value);
	 window.location.href = 'http://ec2-54-69-168-77.us-west-2.compute.amazonaws.com:8000/app/#/phones/' + x.value + '/' + y.value;
}

	
	
</script>

<html>
<h1 onclick="getValue()">Click For Your Comparison!</h1>

		Search: <input ng-model="query">
        Sort by:
        <select id="orderID" ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
          <option value="weight">Weight</option>
        </select>

<div  ng-repeat="phone in phones | filter:query | orderBy:orderProp">
     
	  <img src="{{phone.imageUrl}}"/>
	  
</div>







