<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body>
  
  <input type="radio" name="groupName" ng-model="query" value="Nexus S" >Nexus S
<input type="radio" name="groupName" ng-model="query" value="Motorola XOOM with Wi-Fi">Motorola XOOM with Wi-Fi

<div >
<table ng-repeat="phone in phones | filter:query">
    
    <tr>
        <td>name:</td>
        <td>{{phone.name}}</td>
    </tr>
    <tr>
        <td>snippet:</td>
        <td>{{phone.snippet}}</td>
    </tr>

</table>
</div>
</body>
</html>
~
~
~
